// =============== imports
@import "colors";

$em-base: 16px; // This is the default html and body font-size for the base em value.
@function remCalc($pxWidth) {
    @return $pxWidth / $em-base * 1rem;
}
$generalPadding: remCalc(15px);

@import 'dashboard';

body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

// =============== paddings and margins
.noMargin{
    margin: 0 !important;
}
.padAll{
    padding: $generalPadding;
}
.padTop{
    padding-top: $generalPadding;
}
.padRight{
    padding-right: $generalPadding;
}
.padLeft{
    padding-left: $generalPadding;
}
.padBottom{
    padding-bottom: $generalPadding;
}
.marginAll{
    margin: $generalPadding;
}
.marginTop{
    margin-top: $generalPadding;
}
.marginRight{
    margin-right: $generalPadding;
}
.marginLeft{
    margin-left: $generalPadding;
}
.marginBottom{
    margin-bottom: $generalPadding;
}
.marginAllX2{
    margin: $generalPadding*2;
}
.marginTopX2{
    margin-top: $generalPadding*2;
}
.marginRightX2{
    margin-right: $generalPadding*2;
}
.marginLeft{
    margin-left: $generalPadding*2;
}
.marginBottomX2{
    margin-bottom: $generalPadding*2;
}